 html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px;
      }

#search-area {
    float: left;
    margin-left: 2em;
    margin-top: 2em;

}
#place-list {
    float: right;
    margin-right: 2em;
    margin-top: 2em;
}

#map-canvas{
    z-index: -1;
}

